body{
    background-image: url("https://github.com/MrSpaghettiOk/capteur-HC-SR04-HTML-presentation/raw/main/bgimg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
header{
    background: rgba(0, 0, 0, 0.55);
    color:rgb(0, 0, 255);
}
h1{
    text-align: center;
}
div{
    text-align: center;
    color: hsl(195, 49%, 75%);
    
}
img{
    display: block;
  margin: auto;
  width: 50%;
}